body{
    background-color: #515A5A;
}
header{
    background-color: #2E4053;
}
#sinopsis{
    color: seashell;
}
.personajes{
    color: snow;
    font-style: italic;
}
.tipo{
    color: snow;
}
#sinopsis img{
    height: 50%;
    width: 100%;
}